:root {
  /* color variables */
  --background-color-primary: #f5f5f5;
  --background-color-accent: #222;
  --text-color-primary: #2c2c2c;
  --text-color-accent: #f5f5f5;
  --green-card-color: #54AE32;
  --blue-card-color: #3274B5;
  --thin-cell-border-color: #b4b4b4;
  --message-banner-error-color: rgba(197, 90, 90);
  --message-banner-success-color: rgb(84, 174, 50);
  --undo-button-color: #f5f5f5;
  --undo-button-color-hover: #2c2c2c;
  --reset-button-color: #f5f5f5;
  --reset-button-color-hover: #2c2c2c;
  --submit-button-color: #f5f5f5;
  --submit-button-color-hover: #2c2c2c;

  /* fonts */
  --sans-serif-font-family: 'Open Sans', sans-serif;
  --serif-font-family: 'Bevan', serif;

  /* font sizes (I'm using rems. with the html root font size 62.5%, 1rem usually = 10px)*/
  --game-title-font-size: 2.75rem;
  --date-font-size: 1.75rem;
  --message-banner-font-size: 1.6rem;
  --word-guess-wrapper-card-font-size: 1.3rem;
  --button-font-size: 1.6rem;

  /* default card font is set here, but actual font is proportional with ems */
  --default-card-font-size: 2rem;
  --bottom-card-font-size: 1em;
  --card-font-size: 1.75em;
  --scoreboard-word-card-font-size: 1rem;

  /* spacing variables */
  --gap-for-game-board-and-word-guess: .3rem;
  --gap-for-scoreboard-letters: .25rem;

  /* rounded corner variables */
  --default-card-border-radius: .3rem;
  --default-wrapper-border-radius: .5rem;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  touch-action: manipulation;
}

html {
  height: 100%;
  font-size: 62.5%;
  margin: 0;
}

body {
  height: calc((var(--vh, 1vh) * 100) - env(safe-area-inset-bottom));
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  position: relative;
  margin: 0;
}


#main-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--sans-serif-font-family);
  height: 100%;
}

h1 {
  margin: 0rem;
  margin-top: 1rem;
  color: var(--text-color-primary);
  font-family: var(--serif-font-family);
  font-size: clamp(1.6rem, min(calc((36 / 844) * 100 * var(--vh)), calc((36 / 390) * 100vw)), 3.6rem);
}

#main-card {
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  padding-top: .5rem;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--serif-font-family);
  border-radius: var(--default-wrapper-border-radius);
}

#message-banner {
  height: 4rem;
  z-index: 5;
  top: 2rem;
  position: absolute;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: var(--message-banner-font-size);
  font-weight: bold;
  border-radius: var(--default-wrapper-border-radius);
  background-color: var(--message-banner-error-color);
  /* red by default */
  color: #f5f5f5;
  transition: opacity 0.3s ease;
}

#message-banner.hidden {
  display: none;
}

#message-banner.success {
  background-color: var(--message-banner-success-color);
}

#message-banner.error {
  background-color: var(--message-banner-error-color);
}

#word-guess-wrapper {
  height: clamp(1rem, min(calc((40 / 844) * 100 * var(--vh)), calc((40 / 390) * 100vw)), 4rem);
  min-height: clamp(1rem, min(calc((40 / 844) * 100 * var(--vh)), calc((40 / 390) * 100vw)), 4rem);
  margin: 1rem;
  width: 100%;
  border-radius: var(--default-wrapper-border-radius);
  display: flex;
  gap: var(--gap-for-game-board-and-word-guess);
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0;
  line-height: 0;
  overflow-x: auto;
}

#word-guess-wrapper.scroll-mode {
  justify-content: flex-start;
}

#word-guess-wrapper .card {
  cursor: pointer;
  aspect-ratio: 1/1;
  height: 100%;
  font-size: var(--word-guess-wrapper-card-font-size);
}

#word-guess-wrapper .card span {
  font-size: clamp(.7rem, min(calc((26 / 844) * 100 * var(--vh)), calc((26 / 390) * 100vw)), 2.6rem);
}


#game-board {
  aspect-ratio: 1/1;
  width: min(100%, 40vh);
  max-width: 30rem;
  max-height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}


.cell {
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  cursor: pointer;
}

/* Cards stacked inside each cell */
.card {
  border-radius: var(--default-card-border-radius);
  color: #f5f5f5;
  font-family: 'open sans', serif;
  font-size: var(--default-card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
  user-select: none;
  /* transition: transform 0.3s ease; */
}

.cell .card {
  height: 68%;
  width: 68%;
  position: absolute;
}

.card.top {
  top: 50%;
  left: 50%;
  z-index: 3;
  transition: transform 0.2s ease;
}

.cell .card.top {
  transform: translate(-35%, -35%);
}

.card.green {
  background-color: var(--green-card-color);
}

.cell .card.top:hover {
  transform: translate(-35%, -35%) scale(1.1);
  z-index: 4;
}

.card.bottom {
  top: 50%;
  left: 50%;
  transform: translate(-65%, -65%);
  z-index: 1;
}

.cell .card.top span {
  font-size: clamp(1.2rem, min(calc((36 / 844) * 100 * var(--vh)), calc((36 / 390) * 100vw)), 3.6rem);
}

.cell .card.solo span {
  font-size: clamp(1.2rem, min(calc((36 / 844) * 100 * var(--vh)), calc((36 / 390) * 100vw)), 3.6rem);
}

.cell .card.bottom span {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  font-size: clamp(.85rem, min(calc((20 / 844) * 100 * var(--vh)), calc((20 / 390) * 100vw)), 2rem);
  margin-left: .125rem;
}

.card.solo {
  top: 50%;
  left: 50%;
  z-index: 3;
  transition: transform 0.2s ease;
}

.cell .card.solo {
  transform: translate(-50%, -50%)
}

.cell .card.solo:hover {
  transform: translate(-50%, -50%) scale(1.1);
  z-index: 5;
}

.card.blue {
  background-color: var(--blue-card-color);
}

.card span {
  line-height: 1;
  font-size: clamp(.6rem, min(calc((17.5 / 844) * 100 * var(--vh)), calc((17.5 / 390) * 100vw)), 1.75rem)
}


#button-wrapper {
  margin: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 33.5rem;
  height: auto;
}

#button-wrapper button {
  font-size: clamp(0rem, min(calc((16 / 844) * 100 * var(--vh)), calc((16 / 390) * 100vw)), 1.6rem);
  width: clamp(0rem, min(calc((100 / 844) * 100 * var(--vh)), calc((100 / 390) * 100vw)), 10rem);
  margin: 0 0.5rem;
  height: clamp(0rem, min(calc((32 / 844) * 100 * var(--vh)), calc((32 / 390) * 100vw)), 3.2rem);
  font-family: 'open sans', serif;
  border-radius: 2em;
  transition: background-color 0.3s ease;
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  background-color: var(--text-color-accent);
}

#button-wrapper button:hover {
  color: var(--text-color-accent);
  background-color: var(--text-color-primary);
  cursor: pointer;
}

#button-wrapper button:disabled {
  opacity: .25;
}

#button-wrapper button:disabled:hover {
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  background-color: var(--text-color-accent);
  cursor: default;
}

#scoreboard-area-wrapper {
  width: 100%;
  border-radius: var(--default-wrapper-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#scoreboard {
  display: flex;
  flex-direction: column;
  gap: var(--gap-for-scoreboard-letters);
  border-radius: var(--default-wrapper-border-radius);
  margin-top: -1.5rem;
  height: 7.57142857143em;
  font-size: clamp(.6rem, min(calc((17.5 / 844) * 100 * var(--vh)), calc((17.5 / 390) * 100vw)), 1.75rem);
}

.scoreboard-word {
  display: flex;
  gap: var(--gap-for-scoreboard-letters);
  flex-wrap: nowrap;
  justify-content: center;
}

.scoreboard-word .card {
  width: clamp(.6rem, min(calc((20 / 844) * 100 * var(--vh)), calc((20 / 390) * 100vw)), 2rem);
  aspect-ratio: 1/1;
  position: static !important;
  border-radius: var(--default-card-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.card {
  transition: all 0.2s ease;
}

.cell .card.top.raised {
  transform: translate(-35%, -35%) scale(1.175);
  z-index: 5;
}

.cell .card.solo.raised {
  transform: translate(-50%, -50%) scale(1.175);
  z-index: 5;
}

#scoreboard-counters {
  margin: 0 .5rem;
}

#scoreboard-counters-text {
  margin: 0;
  margin-bottom: 0rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: var(--sans-serif-font-family);
  font-size: clamp(1rem, min(calc((16 / 844) * 100 * var(--vh)), calc((16 / 390) * 100vw)), 1.6rem);
  line-height: 1;
  font-weight: 100;
}

#scoreboard-counters-nums {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: var(--sans-serif-font-family);
  font-size: clamp(2rem, min(calc((30 / 844) * 100 * var(--vh)), calc((30 / 390) * 100vw)), 3rem);
  line-height: 1;
  font-weight: 100;
}

/* Modal Styles */
#game-over-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, .85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
}

#game-over-modal.hidden {
  display: none;
}


.modal-content {
  background-color: var(--background-color-primary);
  border-radius: var(--default-wrapper-border-radius);
  padding: 2rem;
  margin-top: 9.25rem;
  width: 85%;
  max-width: 35rem;
  text-align: center;
  font-family: var(--sans-serif-font-family);
  position: relative;
}

#close-modal-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem .75rem 2rem 2rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-family: var(--sans-serif-font-family);
  font-weight: 400;
  color: var(--text-color-primary);
}

.close-icon {
  width: 16px;
  height: 16px;
}

.close-icon line {
  stroke: var(--text-color-primary);
  stroke-width: 2;
}


h2 {
  font-size: 3.5rem;
  font-family: var(--serif-font-family);
  margin: 1.5rem;
  line-height: 1;
}

h3 {
  font-size: 1.8rem;
  font-family: var(--sans-serif-font-family);
  margin: 0rem;
  margin-top: -1rem;
  margin-bottom: 3rem;
  line-height: 1;
  font-weight: 100;
}

#game-over-modal #logo {
  height: 100%;
  width: 100%;
  max-width: 6.5rem;
  max-height: 6.5rem;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: .05em;
}

#game-over-modal .cell {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  /* border: .5px solid var(--thin-cell-border-color); */
  background: var(--background-color-primary);
  min-width: initial;
  min-height: initial;
}

#game-over-modal .cell .card {
  border-radius: var(--default-card-border-radius);
}

#game-over-modal #game-over-stats {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2rem 0 1rem;
}

#game-over-summary-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-for-scoreboard-letters);
  justify-content: center;
  align-items: center;
}

#game-over-summary-section .summary-section-word {
  display: flex;
  gap: var(--gap-for-scoreboard-letters);
  flex-wrap: nowrap;
  justify-content: center;
}

#game-over-summary-section .game-over-card {
  width: 2rem;
  height: 2rem;
  font-size: var(--scoreboard-word-card-font-size);
  color: #f5f5f5;
  border-radius: var(--default-card-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-over-summary-section .game-over-card.green {
  background-color: var(--green-card-color);
}

#game-over-summary-section .game-over-card.blue {
  background-color: var(--blue-card-color);
}

.modal-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.modal-buttons button {
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 6rem;
  font-family: var(--sans-serif-font-family);
  transition: background-color 0.3s ease;
  height: 4rem;
  width: 40%;
  max-width: 12rem;
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  background-color: var(--text-color-accent);
}

.modal-buttons button:hover {
  color: var(--text-color-accent);
  background-color: var(--text-color-primary);
}



/* welcome screen modal */

#welcome-modal-wrapper {
  width: 100%;
  height: 100%;
  border-radius: var(--default-wrapper-border-radius);
  background-color: var(--background-color-primary);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
}

#welcome-modal-wrapper.hidden {
  display: none;
}

#welcome-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-modal #logo {
  justify-items: center;
  margin-bottom: 2rem;
  height: 100%;
  width: 100%;
  max-width: 7rem;
  max-height: 7rem;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: .05em;
}

#welcome-modal .cell {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  /* border: .5px solid var(--thin-cell-border-color); */
  background: var(--background-color-primary);
  min-width: initial;
  min-height: initial;
}

#welcome-modal .cell .card {
  border-radius: v(--default-card-border-radius);
}


#welcome-modal h2 {
  font-size: 3.6rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#welcome-modal h3 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 2.4rem;
}

#welcome-modal button {
  border-radius: 2em;
  background-color: var(--background-color-primary);
  border: 2px solid var(--background-color-accent);
  padding: 1rem 8rem;
  font-family: var(--sans-serif-font-family);
  font-size: 1.6rem;
  color: var(--text-color-primary);
  transition: ball 0.3s ease;
  margin-bottom: 4rem;
}

#welcome-modal button:hover {
  color: var(--text-color-accent);
  background-color: var(--background-color-accent);
}

#welcome-modal-sub-text {
  margin: 0;
}

#welcome-modal-sub-text p {
  font-size: 1.4rem;
  margin: .25rem;
  margin-top: 0;
}

#welcome-modal-sub-text p#date {
  font-weight: 900;
}









/* Responsive Design */
/* Medium devices (768-991px) */
@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main-container {
    justify-content: center;
  }

  #welcome-modal #logo {
    justify-items: center;
    max-width: 12rem;
    max-height: 12rem;
  }

  #welcome-modal .cell {
    max-width: 12rem;
    max-height: 12rem;
  }


  #welcome-modal h2 {
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  #welcome-modal h3 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }


  #welcome-modal-sub-text p {
    font-size: 1.8rem;
    margin: .25rem;
    margin-top: 0;
  }

}

/* Medium devices (992+px) */

@media (min-width: 992px) {

  #welcome-modal #logo {
    justify-items: center;
    max-width: 14rem;
    max-height: 14rem;
  }

  #welcome-modal .cell {
    max-width: 14rem;
    max-height: 14rem;
  }


  #welcome-modal h2 {
    font-size: 5.6rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  #welcome-modal h3 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 3.8rem;
  }


  #welcome-modal-sub-text p {
    font-size: 1.8rem;
    margin: .25rem;
    margin-top: 0;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    /* color variables */
    --background-color-primary: #222;
    --background-color-accent: #f5f5f5;
    --text-color-accent: #2c2c2c;
    --text-color-primary: #f5f5f5;
  }
}